* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.fija {    
    width: 200px;
    height: 80px;
    background-color: blueviolet;
    font-size: 20px;
}

.porcentual {
    width: 20%;
    height: 30%;
    background-color: chartreuse;
    font-size: 16px;
}

.elementos div {
    font-size: 1.6em;
}

.rem div {
    font-size: 1.6rem;
}

a {
    font-size: 1.6rem;
}

/* Estilos para min_med.html */
#min_med main{
    font-size: 3rem;
    width: 100vw;
    height: 100vh;    
    background-color: aqua;
}

#min_med section {
    width: 500px;
    min-height: 50px;    
    margin: 0 auto;
    background-color: purple;
}

/* Estilos para max_med.html */
#max_med main{
    font-size: 3rem;
    width: 90vw;
    height: 90vh;   
    background-color: aqua; 
}

#max_med section {
    width: 80%;
    height: 300px;
    max-width: 600px;
    margin: 0 auto;
    background-color: greenyellow;
}