/* Desarrollo de ejercicio para crear layout en HTML y CSS */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: darkslateblue;
    padding: 30px;    
}

header > p {
    position: absolute;
}

nav {    
    display: inline-block;
    width: 100%;
    text-align: right;  
}

.head_elements li {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    display: inline-block;
}

.side_bar {
    position: absolute;
    width: 350px;
    height: 675px;
    background-color: cornflowerblue;
    padding: 15px;
}

.box {        
    width: 320px;
    height: 150px;
    background-color: aqua;
    border-radius: 15px;
    margin-bottom: 15px;
}

.main_content {
    background-color: gainsboro;
    padding-top: 15px;
    padding-left: 365px;
    width: 100vw;
    height: 675px;
}

footer {    
    background-color: goldenrod;
    padding: 30px;    
}

footer > p {
    position: absolute;
}

.footer_elements {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.footer_elements li {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}