* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.parent {
    border: 2px black dotted;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: white;    
    margin: 50px;
}

.box {
    display: inline-block;
    background-color: blue;
    width: 100px;
    height: 100px;            
}

#two {
    background-color: red;
}

/* Reto del curso */
.homework {
    display: inline-block;  
    font-size: 1.6rem;
    color: black;     
}

.homework_box {
    display: inline-block;
}

#five {
    background-color: red; 
    position: absolute;    
    width: 70px;
    height: 45px;
    border-radius: 10px;
    margin: 0 auto;
}

#six {
    background-color: gainsboro;       
    border: 1px black double;
    width: 300px;
    height: 180px;
    border-radius: 15px;
}




