* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.parent {
    border: 2px black dotted;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: white;    
    margin: 50px;
}

.box {
    display: inline-block;
    background-color: blue;
    width: 100px;
    height: 100px;            
}

#two {
    background-color: red;
}

.homework {
    /* display: inline-block; */    
    font-size: 2rem;
    color: black; 
    background-color: gainsboro;
    position: relative;    
    width: 300px;
    height: 180px;   
    margin: 0 auto;
}

#six {
    background-color: red; 
    width: 70px;
    height: 45px;
    margin: 0 auto;
}


