* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.parent {
    border: 2px black dotted;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: white;    
    margin: 50px;
}

.box {
    display: inline-block;
    background-color: blue;
    width: 100px;
    height: 100px;            
}

#two {
    background-color: red;
}

/* Reto del curso, caja con texto con caja de titulo sobre ella atravezando la linea superior del contenedor pero cubriendola */
.homework {
    display: inline-block;  
    font-size: 1.6rem;
    color: black;      
    width: 350px;
    height: 200px;
    margin: 50px;        
}

.homework_box {
    display: inline-block;       
}

#five {
    background-color: red; 
    border: 1px black solid;
    position: absolute;
    top: 37.5px;  
    left: 687.5px; 
    width: 70px;
    height: 45px;
    border-radius: 10px;
    align-content: center;    
}

#six {
    background-color: gainsboro;       
    border: 1px black solid;
    width: 300px;
    height: 180px;
    border-radius: 15px;
    margin: 0 auto;
    align-content: center;
}




