* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
}

.c1 {
    background-color: aquamarine;
}

.c2 {
    background-color: blueviolet;
}

.c3 {
    background-color: yellow;
}

.c4 {
    background-color: gray;
}

.c5 {
    background-color: violet;
}

