/* Ejercicio corregido con flex */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* Llamado de nuevo fuente traida de google */
    font-family: "Pacifico", cursive;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: darkslateblue;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;         
}

.head_elements li {    
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    display: flex;
}

.side_bar {
    width: 35rem;
    height: 67.5rem;
    background-color: cornflowerblue;    
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box {            
    width: 32rem;
    height: 15rem;
    border-radius: 1.5rem;
    background-color: aqua;   
}

.main_content {
    background-color: gainsboro;
    padding: 1.5rem;
    width: 100%;
    height: 67.5rem;
}

footer {    
    background-color: goldenrod;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.footer_elements li {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}